@import '../vars.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
  animation: ellipsis steps(4, end) 2000ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.5em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.5em;
  }
}

.form-box {
  background-color: var(--accent-color);
  display: block;
  max-width: min(500px, 66%);
  border-style: solid;
  border-color: var(--dark-color);
  border-radius: 12px;
  border-width: 2px;
  margin: 36px auto;
  padding-bottom: 36px;
  margin-bottom: 64px;
  color: var(--dark-color);
}

.submit-button {
  background-color: #FFF;
  color: var(--dark-color);
  display: block;
  margin: auto;
  padding: 12px 36px;
  border-radius: 8px;
  margin-top: 32px;
  border: 2px solid var(--dark-color);

  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;

  transition: all .3s ease;
}

.submit-button:hover {
  background-color: #EDF5F9;
}

label {
  text-align: left;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 6px 36px;
}

@media only screen and (max-width: 650px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
    padding: 6px 36px;
  }
}
