@import '../vars.css';

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
}

.logo {
    width: 64px;
    height: 64px;
    object-fit: cover;
    background-color: var(--accent-color);
    border-radius: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark-color);

    font-size: 16px;
    text-transform: lowercase;
    font-weight: 700;
}
