/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
}

.logo {
    width: 58px;
    height: 60px;
    object-fit:cover;
    background-color: #fae2c7;
    border-radius: 33%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    text-transform: lowercase;
    font-weight: 700px;
}