@import '../vars.css';

.login-button {
    background-color: #fae2c7;
    display: block;
    margin: auto;
    padding: 12px 36px 12px;
    border-radius: 24px;
    margin-top: 32px;
    border: 2px solid var(--dark-color);

    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--dark-color);

    transition: opacity .3s ease;
    opacity: 100%;
}

.login-button:hover {
    opacity: 80%;
}
