@import '../vars.css';

.login-button {
    background-color: #fae2c7;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 12px 36px 12px;
    border-radius: 24px;
    margin-top: 32px;
    border: 2px solid var(--dark-color);

    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--dark-color);

    transition: opacity .3s ease;
    opacity: 100%;
}

.spotify-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.login-button:hover {
    opacity: 80%;
}

.description {
    width: 500px;
    margin: 22px auto;
    text-align: center;
    color: var(--dark-color);
    background-color: var(--accent-color);
    font-size: 18px;
    border-radius: 12px;
    padding: 2px 8px;
    box-sizing: border-box;
}


@media only screen and (max-width: 550px) {
    .description {
        border-radius: 0px;
        width: 100%;
    }
  }
  