@import '../vars.css';

.container {
  background-color: var(--accent-color);
  display: block;
  max-width: min(500px, 66%);
  border-style: solid;
  border-color: var(--dark-color);
  border-radius: 12px;
  border-width: 2px;
  margin: 36px auto;
  padding-bottom: 36px;
  margin-bottom: 64px;
  color: var(--dark-color);
}
